// https://lospec.com/palette-list/galeth-100

* {
  --cell-size: 50px;
  --board-gap: 2px;

  // colors
  --color__text: #ffffff;
  --color__water: #3b94ff;
  --color__sand: #ffdd15;
  --color__land: #00822c;
  --color__stone: #565f70;
  --color__outline: #ef2e2e;
  --color__background-board: #181d25;
  --color__background-footer: #353c4a;
  --color__background-header: #353c4a;

  --color__btn-background: #c7cacf;
  --color__btn-background--hover: #888f9d;
  --color__btn-text: #000000;
  --color__btn-text--hover: #ffffff;
}
