.board {
  width: 100%;
  height: 80vh;
  background-color: black;
  position: relative;

  &__cell {
    --position-x: 0;
    --positin-y: 0;
    --cell-size: 50px;

    width: var(--cell-size);
    height: var(--cell-size);
    position: absolute;
    left: calc(var(--position-x) * var(--cell-size));
    top: calc(var(--position-y) * var(--cell-size));
    background-color: blue;
    border-radius: 10px;
    border: 2px solid black;

    &:hover {
      border-color: red;
    }

    &--sand {
      background-color: yellow;
    }

    &--land {
      background-color: green;
    }

    &--stone {
      background-color: gray;
    }
  }
}
