.board {
  &__cell {
    --position-x: 0;
    --positin-y: 0;
    --cell-size: 40px;

    width: var(--cell-size);
    height: var(--cell-size);
    position: absolute;
    left: calc(var(--position-x) * var(--cell-size));
    top: calc(var(--position-y) * var(--cell-size));
    border: 1px solid black;
    background-color: blue;

    &--sand {
      background-color: yellow;
    }

    &--land {
      background-color: green;
    }

    &--stone {
      background-color: gray;
    }
  }
}
