.board__cell {
  --position-x: 0;
  --positin-y: 0;
  --offset-x: 0px;
  --offset-y: 0px;

  width: 100px;
  height: 100px;
  position: absolute;
  left: calc(var(--position-x) + var(--offset-x));
  top: calc(var(--position-y) + var(--offset-y));
  background-color: red;
  border: 1px solid black;

  svg {
    width: 100%;
    height: 100%;
  }
}
