@import "./meta/_include";
@import "./footer/_include";
@import "./board/_include";
@import "./body";
@import "./header";
@import "./loader";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
