@import "./meta/_include";
@import "./footer/footer";
@import "./footer/nextTurnBtn";
@import "./footer/buildingsList";
@import "./body";
@import "./board";
@import "./cell";
@import "./header";
@import "./loader";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
