.cell {
  --color-cell: var(--color__water);

  width: var(--cell-size);
  height: var(--cell-size);
  background-color: var(--color-cell);
  border-radius: 5px;
  border: 2px solid var(--color-cell);
  display: flex;
  justify-content: center;
  align-items: center;

  &--coast {
    --color-cell: var(--color__sand);
  }

  &--land {
    --color-cell: var(--color__land);
  }

  &--stone {
    --color-cell: var(--color__outline);
  }

  &:hover {
    border-color: var(--color__outline);
  }

  svg {
    width: 70%;
    height: 70%;
  }
}
